.rsfa-has-audio > figure.wp-block-post-featured-image, .rsfa-has-audio > figure.wp-block-post-featured-image > a {
	height: auto !important;
}

.single.rsfa-has-audio .wp-block-post-featured-image span.wp-block-post-featured-image__overlay,
.page.rsfa-has-audio .wp-block-post-featured-image span.wp-block-post-featured-image__overlay {
	display: none;
}

.rsfa-has-audio .rsfa-audio-wrapper {
	height: auto;
	width: 100% !important;
	aspect-ratio: 3/2;
	display: flex;
	align-items: center;
	background: rgba(0, 0, 0, 0.1);
	padding: 20px;
	box-sizing: border-box;
}

.rsfa-has-audio audio.rsfa-audio {
	width: 100% !important;
}

.rsfa-audio__wrapper + .woocommerce-product-gallery__image--placeholder {
	display: none;
}

body.rsfa-archives-support .product.rsfa-has-audio .wc-block-components-product-image {
	display: none;
}